.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.mobile-column-half {
  flex-basis: 50%;
}

.column-two-fifth {
  flex-basis: 40%;
}

.column-three-fifth {
  flex-basis: 60%;
}

.column-three-ten {
  flex-basis: 30%;
}

.column-seven-ten {
  flex-basis: 70%;
}

.hidden {
  display: none;
}

/* mobile screen */
@media screen and (max-width: 767px) {
  .column-half {
    flex-basis: 100%;
  }

  /* ----------- moble item form view ---------- */
  .column-two-fifth {
    flex-basis: 45%;
  }

  .column-three-fifth {
    flex-basis: 55%;
  }

  /* ----------- moble items view ---------- */
  .mobile-column-full {
    flex-basis: 100%;
  }
}

/* tablet screen */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .column-half.tablet {
    flex-basis: 100%;
  }

  .mobile-column-full {
    flex-basis: 100%;
  }
}
