body {
  background-color: #f3f0e8;
}

/* ---------- navbar --------- */

.navbar-wrapper {
  border-bottom: 1px solid black;
  padding: 7px;
  margin: 0;
  text-align: center;
  position: relative;
}

.your-closet {
  color: black;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-size: 33px;
  text-decoration: none;
}

/* ------- app-drawer-menu ------ */

.fa-solid.fa-bars {
  font-size: 2rem;
  position: absolute;
  left: 25px;
  top: 13px;
}

.fa-solid.fa-bars:hover {
  cursor: pointer;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  left: -80%;
  z-index: 200;
  overflow-y: scroll;
  transition: all 0.5s ease-out;
  width: 80%;
  height: 100%;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
}

.menu.is-active {
  visibility: visible;
  opacity: 1;
  left: 0;
  width: 20%;
  text-align: left;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.item-menu {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.item-menu:hover {
  opacity: 0.5;
  cursor: pointer;
}

.item-items,
.item-outfits,
.item-favorites {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  display: block;
  padding: 7px;
  padding-left: 30px;
  font-family: "Playfair Display", serif;
}

.item-items:hover,
.item-outfits:hover,
.item-favorites:hover {
  cursor: pointer;
  background-color: #f3f0e8;
}

.menu-background {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
}

.menu-background.is-active {
  visibility: visible;
  opacity: 50%;
}

/* ----------- home view ---------- */
.home-view-wrapper {
  text-align: center;
}

.wanna-organize,
.what-to-wear {
  font-family: "The Girl Next Door", sans-serif;
  font-size: 40px;
  margin: 20px;
}

.wanna-organize {
  margin-top: 40px;
}

.add-item-button,
.add-outfit-button,
.see-items-button,
.see-outfits-button {
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #807f7e;
  display: inline-block;
  width: 230px;
  padding: 12px 40px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.add-item-button:hover,
.add-outfit-button:hover,
.see-items-button:hover,
.see-outfits-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ----------- form item view ---------- */
.form-item-container {
  max-width: 1300px;
  margin: 40px 10%;
  background-color: white;
  height: 515px;
}

.form-item-title {
  font-family: Alegreya, sans-serif;
  font-size: 35px;
  margin: 35px 0 5px;
  padding-left: 8%;
}

.add-padding-left {
  padding-left: 8%;
}

.add-padding-right {
  padding-right: 8%;
}

.item-image-wrapper {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  width: 80%;
  height: 310px;
  margin: 20px 0 0;
}

.item-image-placeholder {
  opacity: 40%;
  width: 50%;
  margin: 14% auto;
  object-fit: contain;
  display: block;
}

.upload-from-camera-roll {
  color: #737373;
  font-family: Alegreya, sans-serif;
  font-size: 20px;
  margin: -30px auto;
  text-align: center;
}

.file-upload-wrapper {
  width: 80%;
}

.choose-file {
  margin: 18px auto 0;
}

.choose-file:hover {
  cursor: pointer;
}

.chosen-image {
  width: 95%;
  margin: auto;
  height: 95%;
  object-fit: contain;
}

.form-item-category,
.form-item-brand,
.form-item-color {
  font-family: "Alegreya SC", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #c0c0c0;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.position-right {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c0c0c0;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#category-dropdown-menu,
#brand-dropdown-menu,
#color-dropdown-menu {
  color: #a4a4a4;
  font-family: Alegreya, sans-serif;
  font-size: 20px;
  border: none;
  padding: 0 30px;
  text-align: right;
  padding-bottom: 10px;
}

#category-dropdown-menu:hover,
#brand-dropdown-menu:hover,
#color-dropdown-menu:hover {
  cursor: pointer;
}

.each-row {
  margin-bottom: 10px;
}

.form-item-notes {
  font-family: "Alegreya SC", sans-serif;
  font-size: 25px;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

#notes {
  margin: 0 auto;
  margin-left: 25px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  width: 100%;
  height: 130px;
  font-family: Alegreya, Arial, Helvetica, sans-serif;
  color: #a4a4a4;
  padding: 15px;
  font-size: 18px;
}

#notes:hover {
  cursor: pointer;
}

.item-delete-confirm-button {
  color: #515151;
  background-color: white;
  font-family: "Playfair Display", sans-serif;
  border: none;
  font-size: 15px;
  margin-top: 17px;
  margin-left: 25px;
}

.fa-regular.fa-trash-can {
  font-size: 1.5rem;
  margin-right: 6px;
  color: #7c7c7c;
}

.item-delete-confirm-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.item-save-button-wrapper {
  display: block;
  text-align: right;
}

.item-save-button {
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #8f8f8f;
  border: none;
  border-radius: 30px;
  padding: 5px 25px;
  margin-top: 15px;
}

.item-save-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.pop-up {
  background-color: rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.saved-popup-text-wrapper {
  background-color: white;
  text-align: center;
  width: 500px;
  height: 280px;
  margin: 180px auto;
  border-radius: 17px;
}

.successfully-saved {
  color: #7d7d7d;
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  padding: 45px 0 0;
}

.add-more-items,
.see-items {
  color: black;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  background-color: #f3f0e8;
  border-radius: 5px;
  width: 50%;
  padding: 13px;
  display: block;
  margin: 0 auto;
}

.add-more-items:hover,
.see-items:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.delete-confirm-message {
  color: #7d7d7d;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  padding: 55px 75px 0;
  margin-bottom: 30px;
}

.cancel-delete-button {
  font-family: "Playfair Display", sans-serif;
  background-color: #f3f0e8;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 40px 8px;
  margin-right: 40px;
}

.delete-item-button {
  font-family: "Playfair Display", sans-serif;
  color: white;
  background-color: #d43e3e;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 40px 8px;
}

.cancel-delete-button:hover,
.delete-item-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* ----------- items view ----------- */
.items-view-container {
  margin: 5px auto;
  max-width: 1700px;
  padding: 0 5%;
}

.items {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 47px;
  margin: 30px 45px 0 4%;
}

#sort-category,
#sort-brand,
#sort-color {
  color: #888;
  background-color: #f3f0e8;
  font-family: "Alegreya SC", sans-serif;
  font-size: 18px;
  border-width: 2px;
  border-color: #c0c0c0;
  border-radius: 30px;
  padding: 1px 15px 2px 20px;
  margin: 50px 10px 0;
  width: 140px;
}

#sort-category:hover,
#sort-brand:hover,
#sort-color:hover {
  cursor: pointer;
  background-color: #fff;
}

.sort-reset-button {
  color: #fff;
  font-family: "Alegreya SC", sans-serif;
  font-size: 18px;
  background-color: #c0c0c0;
  border: none;
  border-radius: 7px;
  padding: 2px 10px 4px;
  margin-left: 10px;
}

.sort-reset-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.add-items-button {
  position: fixed;
  z-index: 100;
  right: 6%;
  bottom: 6%;
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #807f7e;
  border-radius: 30px;
  padding: 10px 30px 10px 27px;
}

.add-items-button:hover {
  cursor: pointer;
  background-color: #ababab;
}

.fa-solid.fa-plus {
  margin-right: 8px;
}

.item-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.no-item-message {
  text-align: center;
  color: #807f7e;
  font-size: 24px;
  margin-top: 150px;
}

.item-list-wrapper::before {
  content: "";
  display: block;
  width: 340px;
  height: 380px;
  order: 1;
  margin: 10px 10px 20px;
}

.item-list-wrapper::after {
  content: "";
  display: block;
  width: 340px;
  height: 380px;
  margin: 10px 10px 20px;
}

.item-wrapper {
  padding: 0;
  width: 340px;
  margin: 10px 10px 20px;
}

.item-button {
  display: "block";
  cursor: "pointer";
}

.item-image {
  object-fit: contain;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 380px;
  padding: 10px;
}

.position {
  position: relative;
}

.shadow-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 25%);
  width: 100%;
  height: 380px;
  border-radius: 25px;
}

.items-notes {
  color: rgb(255, 255, 255);
  font-family: Alegreya, sans-serif;
  font-size: 22px;
  text-align: center;
  margin: 125px 25px;
}

.fa-solid.fa-pen.item {
  color: #6c6b6b;
  font-size: 2.5em;
  position: absolute;
  left: 33px;
  top: 35px;
}

.fa-regular.fa-heart.item {
  color: #6c6b6b;
  font-size: 3.2em;
  position: absolute;
  right: 33px;
  top: 35px;
}

.fa-solid.fa-heart.item {
  color: #e78f8f;
  font-size: 3.2em;
  position: absolute;
  right: 33px;
  top: 35px;
}

.fa-regular.fa-heart.item:hover,
.fa-solid.fa-heart.item:hover,
.fa-solid.fa-pen.item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.hover-favorite-icon {
  background-color: transparent;
  border: none;
}

.fa-solid.fa-heart.item-stay {
  color: #e78f8f;
  font-size: 2.6em;
  position: absolute;
  right: 33px;
  top: 35px;
}

/* ------------- favorites view --------------- */
.favorites {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 47px;
  margin: 30px 45px 0 4%;
}

.favorites-title-and-buttons-wrapper {
  display: inline-flex;
}

.favorites-items-button,
.favorites-outfits-button {
  color: white;
  background-color: #383838;
  font-family: "Alegreya SC", sans-serif;
  font-size: 21px;
  border: 1.5px solid;
  border-color: #9c9c9c;
  border-radius: 30px;
  margin: 50px 10px 0;
  padding-bottom: 2px;
  width: 165px;
  height: 36px;
}

.favorites-items-button-light,
.favorites-outfits-button-light {
  color: #888;
  background-color: white;
  font-family: "Alegreya SC", sans-serif;
  font-size: 21px;
  border: 1.5px solid;
  border-color: #9c9c9c;
  border-radius: 30px;
  margin: 50px 10px 0;
  padding-bottom: 2px;
  width: 165px;
  height: 36px;
}

.favorites-items-button:hover,
.favorites-outfits-button:hover,
.favorites-items-button-light:hover,
.favorites-outfits-button-light:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* ------------- form outfit view ----------- */
.form-outfit-container {
  margin: 0 80px;
}

.form-outfit-white-box {
  background-color: white;
  max-width: 1300px;
  min-width: 1020px;
  height: 1000px;
  margin: 40px auto;
}

.form-outfit-title {
  font-family: Alegreya, sans-serif;
  font-size: 35px;
  margin: 40px 0 15px 60px;
}

.outfit-box {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  width: 440px;
  height: 460px;
  margin: auto;
  position: relative;
  overflow: auto;
  padding: 0;
}

.outfit-box-inner {
  width: 435px;
  height: 455px;
  padding: 10px;
  margin: 1.5px;
  vertical-align: middle;
}

.test-element {
  width: 170px;
  height: 170px;
  margin: 0;
}

.add-item-to-outfit-button {
  font-family: Alegreya, sans-serif;
  font-size: 30px;
  background-color: #f3f0e8;
  border: none;
  border-radius: 30px;
  margin: auto;
  padding: 10px 40px;
}

.fa-solid.fa-plus.outfit {
  margin-right: 15px;
}

.add-item-to-outfit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.add-item-popup {
  background-color: rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overscroll-behavior: contain;
  overflow-y: scroll;
  padding-top: 70px;
}

.fa-solid.fa-circle-arrow-right {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

.add-item-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 30px;
}

.add-item-list-wrapper::before {
  content: "";
  display: block;
  width: 250px;
  height: 300px;
  order: 1;
  margin: 10px 10px 20px;
}

.add-item-list-wrapper::after {
  content: "";
  display: block;
  width: 250px;
  height: 300px;
  margin: 10px 10px 20px;
}

.add-item-wrapper {
  padding: 0;
  width: 250px;
  margin: 10px 10px 20px;
}

.add-item-image {
  object-fit: contain;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 300px;
  padding: 10px;
}

.add-outfit-shadow-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(244, 220, 159, 30%);
  width: 100%;
  height: 300px;
  border-radius: 25px;
}

/* .fa-solid.fa-plus.chose-item {
  font-size: 150px;
  color: #a1a0a0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
} */

.non-scroll {
  height: calc(100vh + 1px);
  width: 1px;
  background-color: transparent;
}

/* ------------- media query ------------  */

/* mobile screen */
@media screen and (max-width: 767px) {
  /* --------- mobile navbar -------- */
  .your-closet {
    font-size: 20px;
  }

  /* ------- mobile app-drawer-menu ------ */

  .fa-solid.fa-bars {
    font-size: 1.5rem;
    left: 18px;
    top: 9px;
  }

  .menu.is-active {
    width: 35%;
  }

  .item-menu {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .item-items,
  .item-outfits,
  .item-favorites {
    font-size: 1rem;
    padding: 5px;
    padding-left: 20px;
  }

  /* ----------- mobile home view ---------- */
  .wanna-organize,
  .what-to-wear {
    font-size: 18px;
    margin: 10px;
  }

  .wanna-organize {
    margin-top: 30px;
  }

  .add-item-button,
  .add-outfit-button,
  .see-items-button,
  .see-outfits-button {
    font-size: 13px;
    width: 140px;
    padding: 7px 25px;
    margin-bottom: 15px;
  }

  /* ----------- moble item form view ---------- */

  .form-item-container {
    margin: 20px 7%;
    padding: 0 8%;
    height: 700px;
  }

  .form-item-title {
    font-size: 25px;
    margin: 17px 0 5px;
    padding: 0;
  }

  .add-padding-left {
    padding-left: 0;
  }

  .add-padding-right {
    padding-right: 0;
  }

  .item-image-wrapper {
    border-radius: 10px;
    width: 98%;
    height: 240px;
    margin: 10px auto;
    text-align: center;
  }

  .item-image-placeholder {
    width: 50%;
    margin: 30px auto;
  }

  .upload-from-camera-roll {
    font-size: 18px;
  }

  .file-upload-wrapper {
    width: 100%;
  }

  .choose-file {
    margin: 5px auto 20px;
    font-size: 12px;
  }

  .form-item-category,
  .form-item-brand,
  .form-item-color {
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin: 10px 0 0;
  }

  #category-dropdown-menu,
  #brand-dropdown-menu,
  #color-dropdown-menu {
    font-size: 17px;
    border: none;
    padding: 0 5px 0 0;
    text-align: right;
  }

  .each-row {
    margin: 0;
  }

  .form-item-notes {
    font-size: 18px;
    margin: 10px 0 0;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  #notes {
    margin: 0 auto;
    width: 93%;
    height: 100px;
    padding: 10px 15px;
    font-size: 15px;
  }

  .item-delete-confirm-button {
    font-size: 13px;
    margin-top: 15px;
    margin-left: 12px;
  }

  .fa-regular.fa-trash-can {
    font-size: 1.4rem;
    margin-right: 5px;
  }

  .item-save-button {
    font-size: 15px;
    padding: 4px 20px;
    margin-top: 13px;
    margin-right: 5px;
  }

  .saved-popup-text-wrapper {
    width: 300px;
    height: 200px;
    margin: 40% auto;
  }

  .successfully-saved {
    font-size: 27px;
    padding: 33px 0 0;
  }

  .add-more-items,
  .see-items {
    font-size: 14px;
    width: 65%;
    padding: 10px;
    margin-bottom: -9px;
  }

  .delete-confirm-message {
    font-size: 17px;
    padding: 45px 30px 0;
    margin-bottom: 18px;
  }

  .cancel-delete-button {
    font-size: 15px;
    padding: 4px 25px 6px;
    margin-right: 30px;
  }

  .delete-item-button {
    font-size: 15px;
    padding: 4px 25px 6px;
  }

  /* ----------- mobile items view ----------- */
  .items-view-container {
    margin: 0 auto;
    padding: 0 5%;
  }

  .items {
    font-size: 26px;
    margin: 25px 0 0 15px;
  }

  #sort-category,
  #sort-brand,
  #sort-color {
    font-size: 10px;
    border-width: 1px;
    border-radius: 30px;
    padding: 1px 8px 2px 7px;
    margin: 13px 4px 8px;
    width: 80px;
  }

  .sort-wrapper {
    width: fit-content;
    margin: auto;
  }

  .sort-reset-button {
    font-size: 12px;
    padding: 1px 8px 2px;
    margin-left: 3px;
  }

  .add-items-button {
    right: 6%;
    bottom: 4%;
    font-size: 17px;
    padding: 9px 24px 9px 21px;
  }

  .fa-solid.fa-plus {
    margin-right: 6px;
  }

  .item-wrapper {
    width: 150px;
    margin: 7px;
  }

  .item-image {
    border-radius: 15px;
    width: 100%;
    height: 175px;
    padding: 5px;
  }

  .no-item-message {
    font-size: 17px;
    margin-top: 80px;
  }

  .item-list-wrapper {
    margin-top: 8px;
  }

  .item-list-wrapper::before {
    content: none;
  }

  .item-list-wrapper::after {
    content: "";
    display: block;
    width: 150px;
    height: 175px;
    margin: 7px;
  }

  .shadow-wrapper {
    width: 100%;
    height: 175px;
    border-radius: 15px;
  }

  .items-notes {
    font-size: 15px;
    margin: 65px 18px;
  }

  .fa-solid.fa-pen.item {
    font-size: 1.4em;
    left: 20px;
    top: 22px;
  }

  .fa-regular.fa-heart.item {
    font-size: 1.4em;
    right: 20px;
    top: 22px;
  }

  .fa-solid.fa-heart.item {
    font-size: 1.4em;
    right: 20px;
    top: 22px;
  }

  .fa-solid.fa-heart.item-stay {
    color: #e78f8f;
    font-size: 1.1em;
    right: 20px;
    top: 22px;
  }

  /* ------------- mobile favorites view --------------- */

  .favorites {
    font-size: 26px;
    margin: 25px 16px 0;
  }

  .favorites-items-button,
  .favorites-outfits-button,
  .favorites-items-button-light,
  .favorites-outfits-button-light {
    font-size: 13px;
    border: 1.5px solid;
    margin: 33px 3px 0;
    padding-bottom: 2px;
    width: 85px;
    height: 23px;
  }

  /* ------------- mobile form outfit view --------------- */
  .form-outfit-container {
    margin: 0 25px;
  }

  .form-outfit-white-box {
    min-width: initial;
    height: 1000px;
    width: 100%;
    margin: 30px auto;
  }

  .form-outfit-title {
    font-size: 25px;
    margin: 15px 0 15px 25px;
  }

  .outfit-box {
    width: 280px;
    height: 300px;
  }

  .outfit-box-inner {
    width: 275px;
    height: 295px;
    padding: 0;
    margin: 1.5px;
    vertical-align: middle;
  }

  .test-element {
    width: 125px;
    height: 125px;
  }

  .add-item-to-outfit-button {
    font-size: 22px;
    margin: 20px auto;
    padding: 8px 35px;
  }

  .fa-solid.fa-plus.outfit {
    margin-right: 10px;
  }

  .add-item-popup {
    padding-top: 50px;
  }

  .add-item-list-wrapper {
    margin: 10px 20px;
  }

  .fa-solid.fa-circle-arrow-right {
    font-size: 35px;
    right: 25px;
    top: 20px;
  }

  .add-item-list-wrapper::before {
    content: "";
    display: block;
    width: 140px;
    height: 170px;
    order: 1;
    margin: 10px 10px 20px;
  }

  .add-item-list-wrapper::after {
    content: "";
    display: block;
    width: 140px;
    height: 170px;
    margin: 10px 10px 20px;
  }

  .add-item-wrapper {
    padding: 0;
    width: 140px;
    margin: 10px;
  }

  .add-item-image {
    width: 100%;
    height: 170px;
    padding: 5px;
  }

  .add-outfit-shadow-wrapper {
    height: 170px;
  }

  /* tablet screen */
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    /* ----------- tablet form item view ---------- */

    .form-item-container {
      margin: 33px 6%;
    }

    .form-item-title {
      font-size: 30px;
      margin: 27px 0 0;
      padding-left: 7%;
    }

    .add-padding-left {
      padding-left: 6%;
    }

    .add-padding-right {
      padding-right: 6%;
      padding-top: 13px;
    }

    .item-image-wrapper {
      width: 94%;
      height: 300px;
      text-align: center;
    }

    .item-image-placeholder {
      width: 200px;
      margin: 5% auto;
    }

    .upload-from-camera-roll {
      font-size: 18px;
    }

    .file-upload-wrapper {
      width: 80%;
      margin: 0 auto;
    }

    .form-item-category,
    .form-item-brand,
    .form-item-color {
      font-size: 22px;
      padding-bottom: 8px;
    }

    .position-right {
      padding-right: 10px;
    }

    #category-dropdown-menu,
    #brand-dropdown-menu,
    #color-dropdown-menu {
      font-size: 19px;
      padding: 0 5px;
      text-align: right;
      padding-bottom: 6px;
    }

    .each-row {
      margin-bottom: 10px;
    }

    .form-item-notes {
      font-size: 22px;
      margin: 0;
      padding-left: 20px;
      padding-bottom: 8px;
    }

    #notes {
      margin-left: 20px;
      height: 113px;
      padding: 13px;
      font-size: 17px;
    }

    .item-save-button {
      font-size: 17px;
      font-weight: bold;
      padding: 5px 24px;
    }

    /* --------- tablet items view ---------- */
  }
}
